[credential]
helper = cache --timeout 7200
helper = oauth
[user]
email = sduquette@fastmail.com
name = Sebastien Duquette
[alias]
co = checkout
br = branch
ci = commit
st = status
[fetch]
prune = true
